services:
  node:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    ports:
      - "38751:38751"
    volumes:
      - ./keys:/app/keys
      - ./logs:/app/logs
    restart: unless-stopped
    environment:
      - NODE_PORT=38751
